@import "../../main.scss";

.protfolio
{
    position: relative;
section
{
    height: auto;
}
.progress
{
    background: #0c0c1d;
    position: sticky;
    top: 0px;
    left: 0px;
    text-align: center;
    color: orange;
    font-size: 36px;
    z-index: 20;
   h1
   {
    @include mobile{
        font-size: 35px;
     }
   }
    .progressBar
    {
        height: 10px;
        background-color: #fff;
        @include mobile{
        height: 5px;
        }
    }
}


.singel
{
    display: flex;
    z-index: 10;
    margin: 130px 30px;
    @include mobile{
        margin: auto;
        margin-bottom: 80px;
        padding: 20px;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        
     }
    .textcontainer
    {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        @include mobile{
            margin-bottom: 50px;
         }

        h1
        {
            font-size:74px;
            @include mobile{
                font-size: 35px;
             }
        }
        .whatewedo
        {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;

            h2
            {
                color: orange;
            }
            p
            {
                font-size: 24px;
                color: lightgray;
            }
            button{
                background-color: orange;
                color: #fff;
                font-weight: 500;
                width: 100px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

        }
    }
    .right
    {
        flex: 3;
        position: relative;
        z-index: 10;
        img{
            position: absolute;
            top: 0 ;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            animation: animate 2s infinite ease alternate;
             @include mobile{
                width: 150px;
                height: 150px;
            }
            @keyframes animate {
                to{
                    transform: translateY(20px);
                }
            }
        }
    }
}
}