@import "../../main.scss";

nav
{
    height: 100px;
   
    .wrapper{
        max-width: 1366px;
        margin: auto 60px auto 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile{
            justify-content: flex-end;
            padding: 20px;
            margin: auto ;
        }
        height: 100%;
        span{
            font-weight: bold;
            @include mobile{
                display: none;
            }
        }
        .sotial
        {
            display: flex;
            gap: 20px;
            img{
                width: 18px;
                height: 18px;
            }
        }
    }
}